@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');


/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
}

.container {
  width: min(1200px, calc(65% + 100px));
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* General Styles End */


/* Font Styles */

.inconsolata {
  font-family: 'Inconsolata', monospace;
}

.space-mono {
  font-family: 'Space Mono', monospace;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-48 {
  font-size: 48px;
}

.fs-64 {
  font-size: 64px;
}

/* Font Styles End *?